# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Conda installer
Miniconda3.exe

#Temp files
tempstream/


#fish
fish-speech/


#FFMPEG
tools/ffmpeg

# Environment or config files (customize if needed)
.env
*.env
*.bak
*.swp

# Ignore large model directories
LatentSync/
LivePortrait/
SadTalker/
ditto-talkinghead/

# Ignore Python virtual environments
venv/
env/
.venv/
.env/


# Ignore cache or pip artifacts
*.egg-info/
dist/
build/
*.log

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

#PiperTTS voices
Piper_Voices/

#api keys
groq_api_key.txt

#Float files
checkpoints/
models/
